This notebook is for gathering data on sunset times at two different locations and representing those data graphically.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import data from csv files and view it.

In [2]:
fwdata = pd.read_csv('data/fw-data.csv')
print(fwdata)

       2022 sunrise time   Zenith FW Sunset Day length  \
0    01-Jan      9:58 AM  1:25 PM   4:51 PM   06:52:56
1    02-Jan      9:58 AM  1:25 PM   4:52 PM   06:54:29
2    03-Jan      9:57 AM  1:26 PM   4:54 PM   06:56:11
3    04-Jan      9:57 AM  1:26 PM   4:55 PM   06:58:01
4    05-Jan      9:56 AM  1:26 PM   4:56 PM   06:59:58
..      ...          ...      ...       ...        ...
360  27-Dec      9:59 AM  1:22 PM   4:46 PM   06:46:58
361  28-Dec      9:59 AM  1:23 PM   4:47 PM   06:47:48
362  29-Dec      9:59 AM  1:23 PM   4:47 PM   06:48:47
363  30-Dec      9:59 AM  1:24 PM   4:49 PM   06:49:54
364  31-Dec      9:58 AM  1:24 PM   4:50 PM   06:51:09

    Astronomical twilight start Nautical twilight start Civil twilight start  \
0                         +1:26                 7:33 AM              8:19 AM
1                         +1:33                 7:33 AM              8:19 AM
2                         +1:42                 7:33 AM              8:19 AM
3                         +1:50                 7:33 AM              8:19 AM
4                         +1:57                 7:32 AM              8:19 AM
..                          ...                     ...                  ...
360                       +0:41                 7:32 AM              8:19 AM
361                       +0:50                 7:33 AM              8:19 AM
362                       +0:59                 7:33 AM              8:19 AM
363                       +1:07                 7:33 AM              8:19 AM
364                       +1:15                 7:33 AM              8:19 AM

    Civil twilight end Nautical twilight end Astronomical twilight end  \
0              9:58 AM               4:51 PM                   6:30 PM
1              9:58 AM               4:52 PM                   6:31 PM
2              9:57 AM               4:54 PM                   6:32 PM
3              9:57 AM               4:55 PM                   6:33 PM
4              9:56 AM               4:56 PM                   6:34 PM
..                 ...                   ...                       ...
360            9:59 AM               4:46 PM                   6:25 PM
361            9:59 AM               4:47 PM                   6:26 PM
362            9:59 AM               4:47 PM                   6:27 PM
363            9:59 AM               4:49 PM                   6:28 PM
364            9:58 AM               4:50 PM                   6:29 PM

    Unnamed: 11
0       7:16 PM
1       7:17 PM
2       7:18 PM
3       7:19 PM
4       7:20 PM
..          ...
360     7:12 PM
361     7:13 PM
362     7:13 PM
363     7:14 PM
364     7:15 PM

[365 rows x 12 columns]

In [3]:
cfdata = pd.read_csv('data/cf-data.csv')
print(cfdata)

       2022 sunrise time   Zenith CF Sunset Day length  \
0    01-Jan      9:19 AM  1:17 PM   5:15 PM   07:55:17
1    02-Jan      9:19 AM  1:17 PM   5:16 PM   07:56:28
2    03-Jan      9:19 AM  1:18 PM   5:17 PM   07:57:44
3    04-Jan      9:19 AM  1:18 PM   5:18 PM   07:59:06
4    05-Jan      9:18 AM  1:19 PM   5:19 PM   08:00:34
..      ...          ...      ...       ...        ...
360  27-Dec      9:19 AM  1:14 PM   5:10 PM   07:50:51
361  28-Dec      9:19 AM  1:15 PM   5:11 PM   07:51:28
362  29-Dec      9:19 AM  1:15 PM   5:12 PM   07:52:12
363  30-Dec      9:19 AM  1:16 PM   5:12 PM   07:53:01
364  31-Dec      9:19 AM  1:16 PM   5:13 PM   07:53:58

    Astronomical twilight start Nautical twilight start Civil twilight start  \
0                         +1:03                 7:16 AM              7:56 AM
1                         +1:11                 7:16 AM              7:56 AM
2                         +1:16                 7:16 AM              7:56 AM
3                         +1:22                 7:16 AM              7:56 AM
4                         +1:28                 7:16 AM              7:56 AM
..                          ...                     ...                  ...
360                       +0:31                 7:15 AM              7:56 AM
361                       +0:37                 7:15 AM              7:56 AM
362                       +0:44                 7:15 AM              7:56 AM
363                       +0:49                 7:16 AM              7:56 AM
364                       +0:57                 7:16 AM              7:56 AM

    Civil twilight end Nautical twilight end Astronomical twilight end  \
0              9:19 AM               5:15 PM                   6:37 PM
1              9:19 AM               5:16 PM                   6:38 PM
2              9:19 AM               5:17 PM                   6:39 PM
3              9:19 AM               5:18 PM                   6:40 PM
4              9:18 AM               5:19 PM                   6:41 PM
..                 ...                   ...                       ...
360            9:19 AM               5:10 PM                   6:33 PM
361            9:19 AM               5:11 PM                   6:34 PM
362            9:19 AM               5:12 PM                   6:35 PM
363            9:19 AM               5:12 PM                   6:36 PM
364            9:19 AM               5:13 PM                   6:36 PM

    Unnamed: 11
0       7:18 PM
1       7:19 PM
2       7:20 PM
3       7:21 PM
4       7:22 PM
..          ...
360     7:14 PM
361     7:15 PM
362     7:15 PM
363     7:16 PM
364     7:17 PM

[365 rows x 12 columns]

print list of columns in dataframes.

In [4]:
print(list(fwdata))
print(list(cfdata))

['2022', 'sunrise time', 'Zenith', 'FW Sunset', 'Day length', 'Astronomical twilight start', 'Nautical twilight start', 'Civil twilight start', 'Civil twilight end', 'Nautical twilight end', 'Astronomical twilight end', 'Unnamed: 11']
['2022', 'sunrise time', 'Zenith', 'CF Sunset', 'Day length', 'Astronomical twilight start', 'Nautical twilight start', 'Civil twilight start', 'Civil twilight end', 'Nautical twilight end', 'Astronomical twilight end', 'Unnamed: 11']

Remove extraneous columns from dataframes.

In [5]:
fwdata.drop(["sunrise time", "Zenith", "Day length", "Astronomical twilight start", "Nautical twilight start", 'Civil twilight start', 'Civil twilight end', 'Nautical twilight end', 'Astronomical twilight end', 'Unnamed: 11'], axis = 1, inplace = True)
print(list(fwdata))
cfdata.drop(["sunrise time", "Zenith", "Day length", "Astronomical twilight start", "Nautical twilight start", 'Civil twilight start', 'Civil twilight end', 'Nautical twilight end', 'Astronomical twilight end', 'Unnamed: 11'], axis = 1, inplace = True)
print(list(cfdata))

['2022', 'FW Sunset']
['2022', 'CF Sunset']

merge dataframes

In [6]:
sunsetdata = pd.merge(fwdata, cfdata)
sunsetdata

       2022 FW Sunset CF Sunset
0    01-Jan   4:51 PM   5:15 PM
1    02-Jan   4:52 PM   5:16 PM
2    03-Jan   4:54 PM   5:17 PM
3    04-Jan   4:55 PM   5:18 PM
4    05-Jan   4:56 PM   5:19 PM
..      ...       ...       ...
360  27-Dec   4:46 PM   5:10 PM
361  28-Dec   4:47 PM   5:11 PM
362  29-Dec   4:47 PM   5:12 PM
363  30-Dec   4:49 PM   5:12 PM
364  31-Dec   4:50 PM   5:13 PM

[365 rows x 3 columns]

remove 'PM' from time columns

In [7]:
sunsetdata['FW Sunset'] = sunsetdata['FW Sunset'].str.replace(' PM','')
sunsetdata['CF Sunset'] = sunsetdata['CF Sunset'].str.replace(' PM','')

replace ':' with '.'

In [8]:
sunsetdata['FW Sunset'] = sunsetdata['FW Sunset'].str.replace(':','.')
sunsetdata['CF Sunset'] = sunsetdata['CF Sunset'].str.replace(':','.')

convert object to float

In [9]:
#sunsetdata['FW Sunset'] = sunsetdata['FW Sunset'].astype(float)
#sunsetdata['CF Sunset'] = sunsetdata['CF Sunset'].astype(float)
sunsetdata.dtypes

2022         object
FW Sunset    object
CF Sunset    object
dtype: object

convert '2022' column to datetime

In [10]:
sunsetdata['2022'] = pd.to_datetime(sunsetdata['2022'], format='%d-%b')

sunsetdata.dtypes

2022         datetime64[ns]
FW Sunset            object
CF Sunset            object
dtype: object

In [11]:
sunsetdata

          2022 FW Sunset CF Sunset
0   1900-01-01      4.51      5.15
1   1900-01-02      4.52      5.16
2   1900-01-03      4.54      5.17
3   1900-01-04      4.55      5.18
4   1900-01-05      4.56      5.19
..         ...       ...       ...
360 1900-12-27      4.46      5.10
361 1900-12-28      4.47      5.11
362 1900-12-29      4.47      5.12
363 1900-12-30      4.49      5.12
364 1900-12-31      4.50      5.13

[365 rows x 3 columns]

add column with ascending values

In [ ]:
sunsetdata['Number'] = np.arange(sunsetdata.shape[0])
sunsetdata.dtypes

In [ ]:
#fwdata['FW Sunset'] = pd.to_datetime(fwdata['FW Sunset']).dt.time
#cfdata['CF Sunset'] = pd.to_datetime(cfdata['CF Sunset']).dt.time

In [ ]:
sunsetdata.plot(x = 'Number', y = ['FW Sunset', 'CF Sunset'])
plt.show()

In [ ]:
#plt.plot_date(['2022'], ['FW Sunset', 'CF Sunset'])